# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/
env/
ENV/

# Environment variables
*.env

# IDE files
.vscode/
.idea/

# Logs and outputs
*.log
*.out
*.bak

# OS files
.DS_Store
Thumbs.db
